<div>
<section class="section container-fluid" style = "overflow-y: auto;
   height: 1000px;">
<!-- <table class='table table-hover'>
	<col width="140">
	<col width="80">
    <th>Employee Name</th>
    <th>Impession Count</th>
  <div class="panel-group" id="accordion">
        <tr ng-repeat="x in impressions_data.impressions" ng-class="x.count > 10 ? 'danger' : 'none'">
        <td>{{x.ename}}</td>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" ng-href="{{'#!/reports#collapse'+x.eid}}">
        {{x.count}}</a>
      </h4>
    </div>
    <div ng-attr-id="{{'collapse'+x.eid}}" class="panel-collapse collapse in">
      <div class="panel-body">
		Hello
      </div>
    </div>
  </div>
</tr>
</div>
</table> -->
<table class='table table-hover'>
  <col width="95%">
  <col width="60">
<th class = "text-success" style =" font-size: 20px;">Employee Name</th>
    <th class= "text-success" style =" font-size: 20px;" nowrap>Impessions Count</th></table>
<uib-accordion close-others="false">
 <div uib-accordion-group class="panel-default"  is-open="false" is-disabled="false" ng-repeat="x in impressions_data.impressions">
    	<uib-accordion-heading>
    	<table>
  <col width="100%%">
  <col width="60">	<th>{{x.ename}}</th><th>{{x.count}}</th></table>
    	</uib-accordion-heading>
      <table  class ="table table-hover" >
   <col width="45%">
  <col width="45%">
  <col width="45%">
        <th>Created By</th>
        <th>Impression Time</th>
        <th>Comments</th>
        <br>
        <tr ng-repeat="y in impressions_json.impressions">
          <td>{{y.created_by}}</td>
          <td>{{y.impression_time}}</td>
          <td>{{y.comment}}</td>
      </table>
    </div>
</uib-accordion>
</section>    
</div>