<div>
<section class="section container-fluid" style = "overflow-y: auto;
   height: 500px;">
<table class='table table-hover'>
  <col width="95%">
  <col width="60">
<th class = "text-success" style =" font-size: 17px;" nowrap>Employee Name</th>
    <th class= "text-success" style =" font-size: 17px;" nowrap>Impessions Count</th></table>
<uib-accordion close-others="false" style="overflow-y: auto;
   height: 600px;">
 <div uib-accordion-group class="panel-default"  is-open="false" is-disabled="false" ng-repeat="x in impressions_data.impressions">
    	<uib-accordion-heading >
    	<table>
  <col width="100%">
  <col width="60">	<th>{{x.ename}}</th><th>{{x.count}}</th></table>
    	</uib-accordion-heading>
      <table  class ="table table-hover" style = "overflow-y: scroll;" >
   <col width="45%">
  <col width="45%">
  <col width="45%">
        <th>Created By</th>
        <th>Impression Time</th>
        <th>Comments</th>
        <br>
        <tr ng-repeat="y in x.impressionsList">
          <td>{{y.created_by}}</td>
          <td>{{y.impression_time}}</td>
          <td>{{y.comment}}</td>
      </table>
    </div>
</uib-accordion>
</section>    
</div>